@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.language-json {
	word-break: break-all !important;
	white-space: break-spaces !important;
}

.language-json span:nth-child(4n + 5) {
	display: block;
	visibility: hidden;
}

.language-json span:nth-child(1) {
	display: none;
}

.language-json span:nth-child(1n + 1) {
	padding-right: 10px;
}
